In [7]:
import pandas as pd

In [8]:
import sklearn as sk

In [9]:
data = pd.read_csv("student_scores.csv")

In [10]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [11]:
x = data['Hours']
y = data['Scores']

In [13]:
x_train, X_test, y_train, y_test =  sk.model_selection.train_test_split(x, y, test_size=0.2, random_state=42)

In [16]:
print("hello chikkam")

hello chikkam